$containerSize: 25rem;
$imgSizeFactor: 0.9;
$imgBackgroundSizeFactor: 0.93;
.myImage-container{
    border: none;
    position: relative;
    padding: $containerSize * 0.1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .myImage-element{
        z-index: 2;
        width: $containerSize * $imgSizeFactor;
        height: $containerSize * $imgSizeFactor;
        pointer-events: none;
        img{
            height: 100%;
            vertical-align: bottom;
        }
    }
    .myImage-background{
        background: rgb(48,34,21);
        background: -moz-linear-gradient(59deg, rgba(48,34,21,1) 18%, rgba(214,172,121,1) 48%, rgba(82,82,82,1) 71%);
        background: -webkit-linear-gradient(59deg, rgba(48,34,21,1) 18%, rgba(214,172,121,1) 48%, rgba(82,82,82,1) 71%);
        background: linear-gradient(59deg, rgba(48,34,21,1) 18%, rgba(214,172,121,1) 48%, rgba(82,82,82,1) 71%);
        filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#302215",endColorstr="#525252",GradientType=1);
        width: $containerSize * $imgBackgroundSizeFactor;
        height: $containerSize * $imgBackgroundSizeFactor;
        position: absolute;
        z-index: 1;
        border-radius: $containerSize * 0.5;
        pointer-events: none;
        box-shadow: 0px $containerSize * 0.3 $containerSize 0 px rgba($ciGreen, $alpha: 0.85);

    }
}