$containerSize: 25rem;
$imgSizeFactor: 0.9;
$imgBackgroundSizeFactor: 0.95;
.myImage-container{
    border: none;
    position: relative;
    padding: $containerSize * 0.1;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    .myImage-element{
        z-index: 2;
        width: $containerSize * $imgSizeFactor;
        height: $containerSize * $imgSizeFactor;
        pointer-events: none;
        img{
            height: 100%;
            vertical-align: bottom;
        }
    }
    .myImage-background{
        background: rgb(255,103,103);
    background: linear-gradient(103deg, rgba(255,103,103,1) 5%, rgba(255,238,103,1) 22%, rgba(171,255,103,1) 43%, rgba(103,224,149,1) 57%, rgba(103,255,216,1) 73%, rgba(103,183,255,1) 82%, rgba(255,103,233,1) 94%, rgba(255,103,193,1) 100%, rgba(255,103,103,1) 100%);
        width: $containerSize * $imgBackgroundSizeFactor;
        height: $containerSize * $imgBackgroundSizeFactor;
        position: absolute;
        z-index: 1;
        border-radius: $containerSize * 0.5;
        pointer-events: none;
        box-shadow: 0px $containerSize * 0.3 $containerSize 0 px rgba($ciGreen, $alpha: 0.85);

    }
}