@import "preset";
@import "magneticIcons";
@import "normalize";
@import "utilAnimation";
@import "myImage";
@import "timeline";
@import "elemFadeIn";
@import "videoEmbed";

$headerHeight: 4rem;
$sidebarWidth: 14rem;
$margin: 1rem;

$main-bg-color: #f8e2d0;

$bg-sidebar: #56acbf;
$bg-color-header: #56acbf;
$bg-color-card: #a2eaf2;
$line-color: #125773;
$header-bg-color: #102a30;
$footer-bg-color: #125773;

$line-gradient-color-1: #00000075;
$line-gradient-color-2: #f2ddb600;

main {
  width: 100%;
  background: rgb(226, 142, 18);
  background: -moz-radial-gradient(
    circle,
    rgba(226, 142, 18, 1) 0%,
    rgba(255, 176, 59, 1) 50%,
    rgba(255, 240, 165, 1) 100%
  );
  background: -webkit-radial-gradient(
    circle,
    rgba(226, 142, 18, 1) 0%,
    rgba(255, 176, 59, 1) 50%,
    rgba(255, 240, 165, 1) 100%
  );
  background: radial-gradient(
    circle,
    rgba(226, 142, 18, 1) 0%,
    rgba(255, 176, 59, 1) 50%,
    rgba(255, 240, 165, 1) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#e28e12",endColorstr="#fff0a5",GradientType=1);
  min-height: 100vh;
  font-size: 2rem;
  color: #052128;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  @include small {
    padding: $headerHeight 0 0 0;
  }

  @include mid {
    padding: $headerHeight 0 0 0;
  }

  @include normal {
    padding: $headerHeight 0 0 $sidebarWidth;
  }

  @include large {
    padding: $headerHeight 0 0 $sidebarWidth;
  }

  aside {
    color: white;

    @include small {
      width: 90%;
      height: auto;
    }

    @include mid {
      width: 90%;
      min-height: 15rem;
    }

    @include normal {
      padding-top: 5rem;
      width: $sidebarWidth;
      height: 100%;
      position: fixed;
      top: $headerHeight;
      left: 0;
      bottom: 0;
    }

    @include large {
      width: $sidebarWidth;
      height: 100%;
      position: fixed;
      top: $headerHeight;
      left: 0;
      bottom: 0;
    }
    .sidebar-content {
      margin: 0;
      padding: 0;
      width: 100%;
      background-color: $bg-sidebar;
      position: fixed;
      height: 100%;
      overflow: auto;

      @include small {
        width: 100%;
        height: auto;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      @include mid {
        width: 100%;
        height: auto;
        position: relative;
        border-top-left-radius: 20px;
        border-top-right-radius: 20px;
      }

      @include normal {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 20px;
      }

      @include large {
        width: 100%;
        height: auto;
        position: relative;
        border-radius: 20px;
      }
    }
    .sidebar-content a:hover:not(.active) {
      background: rgb(113, 220, 244);
      background: -moz-linear-gradient(
        90deg,
        rgba(113, 220, 244, 1) 0%,
        rgba(242, 92, 92, 0) 57%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(113, 220, 244, 1) 0%,
        rgba(242, 92, 92, 0) 57%
      );
      background: linear-gradient(
        90deg,
        rgba(113, 220, 244, 1) 0%,
        rgba(242, 92, 92, 0) 57%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#71dcf4",endColorstr="#f25c5c",GradientType=1);
      color: white;
    }

    .sidebar-content a {
      display: block;
      font-weight: bold;
      color: black;
      padding: 16px;

      text-decoration: none;
      @include small {
        text-align: center;
        float: none;
      }

      @include mid {
        text-align: center;
        float: none;
      }

      @include normal {
        float: left;
      }
      div.content {
        margin-left: 0;
      }

      @include large {
        float: left;
      }
      div.content {
        margin-left: 0;
      }
    }

    .sidebar-content a.active {
      background: rgb(113, 220, 244);
      background: -moz-linear-gradient(
        90deg,
        rgba(113, 220, 244, 1) 0%,
        rgba(242, 92, 92, 0) 57%
      );
      background: -webkit-linear-gradient(
        90deg,
        rgba(113, 220, 244, 1) 0%,
        rgba(242, 92, 92, 0) 57%
      );
      background: linear-gradient(
        90deg,
        rgba(113, 220, 244, 1) 0%,
        rgba(242, 92, 92, 0) 57%
      );
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#71dcf4",endColorstr="#f25c5c",GradientType=1);
      color: white;
    }
  }
  .bg-card {
    background-color: $bg-color-card;
    border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;
    padding: $margin;
    margin-bottom: 10px;
  }

  .bg-card-round {
    background-color: $bg-color-card;
    border-radius: 25px;
    padding: $margin;
    margin-bottom: 10px;
  }

  .bg-card-header {
    margin-top: 2rem;
    background-color: $bg-color-header;
    background-position: calc(100% - 20px) calc(100% - 10px);
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
  }

  .content {
    width: 90%;
    max-width: 1500px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    min-height: 5vh;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    .blocks {
      //padding: $margin;
      width: 100%;
      display: grid;
      grid-gap: $margin;
      border-radius: 25px;
      padding-bottom: 1rem;

      @include small {
        grid-template-columns: auto;
      }

      @include mid {
        grid-template-columns: auto;
      }

      @include normal {
        grid-template-columns: auto;
      }

      @include large {
        grid-template-columns: auto auto;
      }

      .block-border-bottom {
        border-bottom: 2px solid;
        @include small {
          border-image: linear-gradient(
              to right,
              $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }

        @include mid {
          border-image: linear-gradient(
              to right,
              $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }

        @include normal {
          border-image: linear-gradient(
              to right,
              $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }

        @include large {
          border-image: linear-gradient(
              to right,
              $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }
      }

      .block-border-top {
        border-top: 2px solid;
        @include small {
          border-image: linear-gradient(
              to right,
              $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }

        @include mid {
          border-image: linear-gradient(
              to $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }

        @include normal {
          border-image: linear-gradient(
              to right,
              $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }

        @include large {
          border-image: linear-gradient(
              to right,
              $line-gradient-color-1,
              $line-gradient-color-2
            )
            1;
        }
      }

      .block-left {
        @include small {
          justify-content: center;
          align-items: center;
        }

        @include mid {
          justify-content: center;
          align-items: center;
        }

        @include normal {
          justify-content: center;
          align-items: center;
        }

        @include large {
          justify-content: left;
          align-items: left;
        }
      }
      .block-center {
        justify-content: center;
        align-items: center;
      }
      .block-right {
        @include small {
          justify-content: center;
          align-items: center;
        }

        @include mid {
          justify-content: center;
          align-items: center;
        }

        @include normal {
          justify-content: right;
          align-items: right;
        }

        @include large {
          justify-content: right;
          align-items: right;
        }
      }

      .block {
        padding-left: 1rem;
        padding-right: 1rem;
        display: grid;
        grid-gap: $margin;
        border-radius: 5px;
        //background: blue;
        min-height: 8rem;

        @include small {
          grid-template-columns: auto;
        }

        @include mid {
          grid-template-columns: auto;
        }

        @include normal {
          grid-template-columns: auto auto;
        }

        @include large {
          grid-template-columns: auto auto auto auto;
        }
        h2 {
          max-width: fit-content;
          padding-left: 30px;
        }
        .block-element {
          padding: 1rem;
          padding-left: 3rem;
          padding-right: 3rem;
          padding-bottom: 3rem;
          margin: auto;
          border-radius: 25px;
        }
        .subtitle-text {
          margin: 0;
          display: flex;
          //flex-direction: column;
          justify-content: center;
          align-items: center;
          padding-top: 1.3rem;
        }

        .block-element h3 {
          position: absolute;
          top: 0;
          transform: translate(0, -50%);
          background: black;
          padding: 1%;
          margin: 0%;
        }
        .block-element-header {
          margin: 0;
          padding-left: 2rem;
          z-index: 1;
          h1 {
            width: 25vh;
          }
        }
      }
    }
  }

  header {
    width: 100%;
    height: $headerHeight;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: $header-bg-color;
    z-index: 3;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-bottom-left-radius: 7px;
    border-bottom-right-radius: 7px;
    h5 {
      font-style: normal;
      color: white;
    }
  }

  footer {
    width: 100%;
    background: rgb(255, 255, 255);
    background: -moz-linear-gradient(
      348deg,
      rgba(255, 255, 255, 0.1492204899777283) 0%,
      rgba(255, 255, 255, 0.155902004454343) 35%,
      rgba(255, 255, 255, 0) 57%,
      rgba(42, 138, 177, 0) 87%
    );
    background: -webkit-linear-gradient(
      348deg,
      rgba(255, 255, 255, 0.1492204899777283) 0%,
      rgba(255, 255, 255, 0.155902004454343) 35%,
      rgba(255, 255, 255, 0) 57%,
      rgba(42, 138, 177, 0) 87%
    );
    background: linear-gradient(
      348deg,
      rgba(255, 255, 255, 0.1492204899777283) 0%,
      rgba(255, 255, 255, 0.155902004454343) 35%,
      rgba(255, 255, 255, 0) 57%,
      rgba(42, 138, 177, 0) 87%
    );
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ffffff",endColorstr="#2a8ab1",GradientType=1);
    min-height: 25rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
